<div class="page page-dashboard" data-ng-controller="DashboardCtrl">

    <!-- stats -->
    <div class="row dashboard-stats">
        <div class="col-lg-3 col-sm-6">
            <section class="panel panel-box">
                <div class="panel-left panel-item bg-success">
                    <i class="glyphicon glyphicon-tree-deciduous" style="font-size: 5em"></i>
                </div>
                <div class="panel-right panel-item bg-reverse">
                    <p class="size-h1 no-margin">8000<span class="size-h3"></span></p>
                    <p class="text-muted no-margin"><span data-i18n="Total trees saved"></span></p>
                </div>
            </section>
        </div>

        <div class="col-lg-3 col-sm-6">
            <section class="panel panel-box">
                <div class="panel-left panel-item bg-info">
                    <i class="glyphicon glyphicon-globe" style="font-size: 5em"></i>
                </div>
                <div class="panel-right panel-item bg-reverse">
                    <p class="size-h1 no-margin">1567</p>
                    <p class="text-muted no-margin"><span data-i18n="Carbon Points"></span></p>
                </div>
            </section>
        </div>

        <div class="col-lg-3 col-sm-6">
            <section class="panel panel-box">
                <div class="panel-left panel-item bg-warning">
                    <i class="fa fa-dollar text-large stat-icon"></i>
                </div>
                <div class="panel-right panel-item bg-reverse">
                    <p class="size-h1 no-margin">3,760</p>
                    <p class="text-muted no-margin"><span data-i18n="Rewards given"></span></p>
                </div>
            </section>
        </div>

        <div class="col-lg-3 col-sm-6">
            <section class="panel panel-box">
                <div class="panel-left panel-item bg-danger">
                    <i class="glyphicon glyphicon-road" style="font-size: 5em"></i>
                </div>
                <div class="panel-right panel-item bg-reverse">
                    <p class="size-h1 no-margin">369</p>
                    <p class="text-muted no-margin"><span data-i18n="Carmas currently live"></span></p>
                </div>
            </section>
        </div>
    </div>
    <!-- end stats -->

    <div class="row">
        <div class="col-md-6">
            <section class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span data-i18n="By Car Type"></span></strong></div>
                <div class="panel-body" data-ng-controller="morrisChartCtrl">
                    <div morris-chart
                         data-data="mainData"
                         data-type="area"
                         data-xkey="month"
                         data-ykeys='["xbox", "will", "playstation"]'
                         data-labels='["xbox", "will", "playstation"]'
                         data-line-colors='["#FDD761","#FF7857","#7ACBEE"]'
                         data-line-width="0"
                         data-behave-like-line="true"
                         data-point-size="0"
                         ></div>
                </div>
            </section>
        </div>
        <div class="col-md-6">

            <section class="panel panel-default">
                <div class="panel-heading"> <strong><span class="glyphicon glyphicon-th"></span> <span data-i18n="By Location"></span></strong> </div>
                <div class="panel-body" data-ng-controller="flotChartCtrl.realtime">
                    <div data-flot-chart-realtime
                         data-type="realtime"
                         style="width: 100%; height: 345px;"
                         ></div>
                </div>
                <span>Total fuel consumed (real-time)</span>
            </section>

        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <section class="panel panel-default" data-ng-controller="morrisChartCtrl">
                <div class="panel-heading"><span class="glyphicon glyphicon-th"></span> Area Chart</div>
                <div class="panel-body">
                    <div morris-chart
                         data-data="simpleData"
                         data-type="area"
                         data-xkey="year"
                         data-ykeys='["value"]'
                         data-labels='["Value A"]'
                         data-line-colors='["#674E9E"]'
                         data-line-width="2"
                         ></div>
                </div>
            </section>
        </div>
        <div class="col-md-6" data-ng-controller="sparklineCtrl">

                <div class="panel panel-default">
                    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span data-i18n="Top Customers"></span></strong></div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Customer ID</th>
                                <th>Name</th>
                                <th>Carma</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>ASID23</td>
                                <td>Toby Smith</td>
                                <td><blink><span class="label label-info" style="3em">{{currentEvent.user1}}</span></blink></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>A16Z</td>
                                <td>Leo Perez</td>
                                <td><blink><span class="label label-primary" style="3em">{{currentEvent.user2}}</span></blink></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Q300</td>
                                <td>Shavez Kalem</td>
                                <td><blink><span class="label label-success" style="3em">{{currentEvent.user3}}</span></blink></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>DARK</td>
                                <td>Itabora Ferreira</td>
                                <td><blink><span class="label label-danger" style="3em">{{currentEvent.user4}}</span></blink></td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>RVNG</td>
                                <td>Hung Vu</td>
                                <td><blink><span class="label label-warning" style="3em">{{currentEvent.user5}}</span></blink></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
        </div>
    </div>



</div>

