<div class="page page-general">

    <div class="row">
        <div class="col-md-6">

            <!-- profile panel -->
            <div class="panel panel-profile">
                <div class="panel-heading text-center bg-info">
                    <img alt="" src="images/user.jpg" class="img-circle img80_80">
                    <h3>Jone Doe</h3>
                    <p>Project Manager</p>
                </div>
                <div class="list-justified-container">
                    <ul class="list-justified text-center">
                        <li>
                            <p class="size-h3">{{currentEvent.carma}}</p>
                            <p class="text-muted">Carma</p>
                        </li>
                        <li>
                            <p class="size-h3">{{currentEvent.treeLevel}}</p>
                            <p class="text-muted">Tree Level</p>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- end profile panel -->
        </div>
        <div class="col-md-6">

            <section class="panel panel-box" data-ng-controller="sparklineCtrl">
                <div class="panel-top bg-success">
                    <div data-sparkline
                          data-data="demoData1.data"
                          data-options="demoData1.options"
                          ></div>
                </div>
                <div class="list-justified-container">
                    <ul class="list-justified text-center">
                        <li>
                            <p class="size-h3">575</p>
                            <p class="text-muted">Karma </p>
                        </li>
                        <li>
                            <p class="size-h3">23</p>
                            <p class="text-muted">Sales</p>
                        </li>
                    </ul>
                </div>
            </section>

        </div>
    </div>

    <!-- mini box -->
    <div class="row">
        <div class="col-sm-3">
            <div class="panel mini-box">
                <span class="box-icon bg-success">
                    <i class="fa fa-leaf"></i>
                </span>
                <div class="box-info">
                    <p class="size-h2">39</p>
                    <p class="text-muted">Trees Saved</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel mini-box">
                <span class="box-icon bg-danger">
                    <i class="fa fa-heart"></i>
                </span>
                <div class="box-info">
                    <p class="size-h2">55</p>
                    <p class="text-muted">Total Carma</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel mini-box">
                <span class="box-icon bg-info">
                    <i class="fa fa-check"></i>
                </span>
                <div class="box-info">
                    <p class="size-h2">34</p>
                    <p class="text-muted">Fuel Effeciency</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3" ng-mouseover='points=true' ng-mouseleave='points=false'
        >
            <div class="panel mini-box">
                <span class="box-icon bg-primary">
                    <i class="fa fa-globe" ng-hide="points"></i>
                    <i class="fa fa-star" ng-show="points"></i>
                </span>
                <div class="box-info" >
                    <p class="size-h2" ng-hide="points" >63</p>
                    <p class="text-muted" ng-hide="points" >Carbon Points</p>
                    <!-- <p class="size-h2" ng-show="points" >63</p> -->
                    <p class="text-muted size-h2" ng-show="points" ><a  class="text-muted size-h2" href="https://www.hertz.com/rentacar/member/enrollment" target="_blank">Redeem</a></p>
                </div>
            </div>
        </div>

    </div>
    <!-- end mini box -->

    <section>
        <div class="row">
            <!-- <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Acceleration</h3>
                    </div>
                    <div class="panel-body text-center">
                        <canvas  data-gauge-chart
                                data-data="gaugeChart3.data"
                                data-options="gaugeChart3.options"

                                ></canvas>
                    </div>
                </div>
            </div> -->
<div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Easy Pie Chart</h3>
                    </div>
                    <div class="panel-body text-center">
                        <div easypiechart options="easypiechart3.options" percent="easypiechart3.percent" class="easypiechart">
                            <span class="pie-percent" ng-bind="easypiechart3.percent"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Easy Pie Chart</h3>
                    </div>
                    <div class="panel-body text-center">
                        <div easypiechart options="easypiechart3.options" percent="easypiechart3.percent" class="easypiechart">
                            <span class="pie-percent" ng-bind="easypiechart3.percent"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Easy Pie Chart</h3>
                    </div>
                    <div class="panel-body text-center">
                        <div easypiechart options="easypiechart3.options" percent="easypiechart3.percent" class="easypiechart">
                            <span class="pie-percent" ng-bind="easypiechart3.percent"></span>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </section>

    <div class="row">
        <div class="col-md-12">
            <!-- List group -->
            <div class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Trips History</strong></div>
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Distance</th>
                            <th>Max Speed</th>
                            <th>Fuel Efficiency</th>
                            <th>Trip Carma</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="trip in averageTrips">
                            <td>{{$index+1}}</td>
                            <td>{{trip.distance}} mi</td>
                            <td>{{trip.maxSpeed}} mph</td>
                            <td><span class="label label-info">{{trip.fuelEfficiency}} mpg</span></td>
                            <td>
                                <progressbar class="progressbar-xs" type='success' value="trip.rating"></progressbar>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- end List group -->
        </div>
    </div>


</div>
