<div class="page page-general">

    <div class="row">
        <div class="col-md-6">

            <!-- profile panel -->
            <div class="panel panel-profile">
                <div class="panel-heading text-center bg-info">
                    <img alt="" src="images/user.jpg" class="img-circle img80_80">
                    <h3>Jone Doe</h3>
                    <p>Project Manager</p>
                </div>
                <div class="list-justified-container">
                    <ul class="list-justified text-center">
                        <li>
                            <p class="size-h3">{{currentEvent.carma}}</p>
                            <p class="text-muted">Carma</p>
                        </li>
                        <li>
                            <p class="size-h3">{{currentEvent.treeLevel}}</p>
                            <p class="text-muted">Tree Level</p>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- end profile panel -->
        </div>
        <div class="col-md-6">

            <section class="panel panel-box" data-ng-controller="sparklineCtrl">
                <div class="panel-top bg-success">
                    <div data-sparkline
                          data-data="demoData1.data"
                          data-options="demoData1.options"
                          ></div>
                </div>
                <div class="list-justified-container">
                    <ul class="list-justified text-center">
                        <li>
                            <p class="size-h3">119</p>
                            <p class="text-muted">Carma over time </p>
                        </li>
<!--                         <li>
                            <p class="size-h3">23</p>
                            <p class="text-muted">Sales</p>
                        </li>
 -->                    </ul>
                </div>
            </section>

        </div>
    </div>

    <!-- mini box -->
    <div class="row">
        <div class="col-sm-3">
            <div class="panel mini-box">
                <span class="box-icon bg-success">
                    <i class="fa fa-leaf"></i>
                </span>
                <div class="box-info">
                    <p class="size-h2">39</p>
                    <p class="text-muted">Short Trip Average</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel mini-box">
                <span class="box-icon bg-danger">
                    <i class="fa fa-heart"></i>
                </span>
                <div class="box-info">
                    <p class="size-h2">55</p>
                    <p class="text-muted">Long Trip Average</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel mini-box">
                <span class="box-icon bg-info">
                    <i class="fa fa-check"></i>
                </span>
                <div class="box-info">
                    <p class="size-h2">119</p>
                    <p class="text-muted">Total Karma</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel mini-box">
<!--                 <span class="box-icon bg-primary">
                    <i class="fa fa-globe"></i>
 --><!--                     <i class="fa fa-star" ng-show="points"></i> -->
                <!-- </span> -->
                <div class="box-info" >
                      <a class="btn btn-lg btn-primary" href="#">
                        <i class="fa fa-flag fa-2x pull-left"></i> Get more Carma</a>
                </div>
            </div>
        </div>

    </div>
    <!-- end mini box -->

    <div class="row">
        <div class="col-md-12">
            <!-- List group -->
            <div class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Trips History</strong></div>
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Distance</th>
                            <th>Max Speed</th>
                            <th>Fuel Efficiency</th>
                            <th>Trip Carma</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="trip in averageTrips">
                            <td>{{$index+1}}</td>
                            <td>{{trip.distance}} mi</td>
                            <td>{{trip.maxSpeed}} mph</td>
                            <td><span class="label label-info">{{trip.fuelEfficiency}} mpg</span></td>
                            <td>
                                <progressbar class="progressbar-xs" type='success' value="trip.rating"></progressbar>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- end List group -->

                <section>
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Acceleration</h3>
                    </div>
                    <div class="panel-body text-center">
                        <div easypiechart options="acceleration.options" percent="acceleration.percent" class="easypiechart">
                            <span class="pie-percent" ng-bind="acceleration.percent"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Fuel Effeciency</h3>
                    </div>
                    <div class="panel-body text-center">
                        <div easypiechart options="fuelEff.options" percent="fuelEff.percent" class="easypiechart">
                            <span class="pie-percent" ng-bind="fuelEff.percent"></span>
                        </div>
                    </div>
                </div>
            </div>

<!--             <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Easy Pie Chart</h3>
                    </div>
                    <div class="panel-body text-center">
                        <div easypiechart options="easypiechart3.options" percent="easypiechart3.percent" class="easypiechart">
                            <span class="pie-percent" ng-bind="easypiechart3.percent"></span>
                        </div>
                    </div>
                </div>
            </div>
 -->

        </div>

    </section>

        </div>
    </div>


</div>
