
<div class="page page-profile" ng-controller="chartCtrl">

    <div class="row">
        <div class="col-md-6">

            <div class="panel panel-profile">
                <img alt="" ng-src="images/tree/tree{{currentEvent.treeLevel}}.jpg">
                <audio autoplay loop>
                    <source src="audios/smb_vine.wav" type="audio/wav" />
                </audio>

                <div class="list-justified-container" style="padding: 0px">
                    <ul class="list-justified text-center">
                        <li>
                            <p class="size-h3">{{currentEvent.carma}}</p>
                            <p class="text-muted">Carma</p>
                        </li>
                        <li>
                            <p class="size-h3" ng-bind="currentEvent.currentMPG"></p>
                            <p class="text-muted">MPG</p>
                        </li>
<!--                         <li>
                            <p class="size-h3">23</p>
                            <p class="text-muted">Following</p>
                        </li> -->
                    </ul>
                </div>
            </div>

<!--             <section class="panel panel-box">
                <div class="panel-left panel-item bg-facebook">
                    <p class="size-h1"><i class="fa fa-facebook"></i></p>
                    <p>Facebook</p>
                </div>
                <div class="panel-item bg-twitter">
                    <p class="size-h1"><i class="fa fa-twitter"></i></p>
                    <p>Twitter</p>
                </div>
                <div class="panel-right panel-item bg-google-plus">
                    <p class="size-h1"><i class="fa fa-google-plus"></i></p>
                    <p>Google Plus</p>
                </div>
            </section>
 -->
            <div class="row">
                <div class="col-sm-3">
                    <div class="panel mini-box" style="min-height:80px">
                        <span class="box-icon bg-success">
                            <i class="fa fa-leaf"></i>
                        </span>
                        <div class="box-info">
                            <p class="size-h2">39</p>
                            <p class="text-muted">Trees Saved</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="panel mini-box">
                        <span class="box-icon bg-danger">
                            <i class="fa fa-heart"></i>
                        </span>
                        <div class="box-info">
                            <p class="size-h2">55</p>
                            <p class="text-muted">Total Carma</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="panel mini-box">
                        <span class="box-icon bg-info">
                            <i class="fa fa-check"></i>
                        </span>
                        <div class="box-info">
                            <p class="size-h2">34</p>
                            <p class="text-muted">Fuel Effeciency</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3" ng-mouseover='points=true' ng-mouseleave='points=false'
                >
                    <div class="panel mini-box">
                        <span class="box-icon bg-primary">
                            <i class="fa fa-globe" ng-hide="points"></i>
                            <i class="fa fa-star" ng-show="points"></i>
                        </span>
                        <div class="box-info" >
                            <p class="size-h2" ng-hide="points" >63</p>
                            <p class="text-muted" ng-hide="points" >Carbon Points</p>
                            <!-- <p class="size-h2" ng-show="points" >63</p> -->
                            <p class="text-muted size-h2" ng-show="points" ><a href="https://www.hertz.com/rentacar/member/enrollment" target="_blank">Redeem</a></p>
                        </div>
                    </div>
                </div>

            </div>
            <!-- end mini box -->

        </div>
    </div>

</div>
